<div class="container mt-3 p-3 bg-white">
    <p class="text-capitalize fs-4 fw-bold">list of books</p>
    <hr>
</div>
<div class="container mt-3 alert alert-danger" *ngIf="error"><strong>Error: </strong>{{error.error?.path}}
    {{error.error?.error}} row-cols-2
</div>
<div class="container mt-3 pt-3 px-3 d-flex flex-column bg-white">
    <mat-form-field>
        <mat-label>Filter book</mat-label>
        <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
</div>

<div class="container mt-3 p-3">
    <div class="row gy-5 row-cols-md-2 row-cols-lg-3">
        <div class="col" *ngFor="let book of books$ | async">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title class="fw-bold fs-4">{{book.title}}</mat-card-title>
                    <mat-card-subtitle>{{book.category.categoryName}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image *ngIf="book.imageUrl === null; else elseBlock" [src]="defaultBookImage"
                    alt="Default Book Image">
                <ng-template #elseBlock>
                    <img src={{book.imageUrl}} alt="Book Image">
                </ng-template>
                <mat-card-content>
                    <p>{{book.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button class="fw-semibold me-2">View</button>
                    <button mat-raised-button color="primary" class="fw-semibold me-2"
                        (click)="editBook(book)">Edit</button>
                    <button mat-raised-button color="warn" class="fw-semibold"
                        (click)="deleteBook(book)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>