<div class="container mt-3 p-3 bg-white">
    <p class="text-capitalize fs-4 fw-bold">list of books</p>
    <hr>
</div>
<div class="container mt-3 alert alert-danger" *ngIf="error"> <strong>Error: </strong>{{error.error?.path}}
    {{error.error?.error}}</div>

<div class="container mt-3 pt-3 px-3 d-flex flex-column bg-white">
    <mat-form-field>
        <mat-label>Filter book</mat-label>
        <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
</div>

<div class="container mt-3 p-3 bg-white">

    <table mat-table [dataSource]="books" matSort class="text-center">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Book Id</th>
            <td mat-cell *matCellDef="let book"> {{book.id}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Book Title</th>
            <td mat-cell *matCellDef="let book"> {{book.title}} </td>
        </ng-container>

        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Book Author</th>
            <td mat-cell *matCellDef="let book"> {{book.author}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
            <td mat-cell *matCellDef="let book"> {{book.category.categoryName}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="editBook(row)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteBook(row)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>