<div class="container mt-3 p-3 bg-white">
    <p class="fs-4 fw-bold">Student Details</p>
    <hr>
</div>

<div class="container mt-3 alert alert-danger" *ngIf="error">
    <strong>Error: </strong>{{error.error?.error}} {{error.error?.message}}
</div>

<section class="h-100" *ngIf="savedStudent">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row"
                        style="background-color: #3f51b5; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img [src]="savedStudent.imageUrl || 'assets/images/default-student-image.png'"
                                alt="Student Image" class="img-fluid img-thumbnail mt-4 mb-2"
                                style="width: 150px; z-index: 1">
                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h4 class="text-capitalize">{{savedStudent.name}}</h4>
                            <p>{{savedStudent.email}}</p>
                        </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa; min-height: 100px;"></div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">About</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class="mb-1"><strong>Id: </strong>{{savedStudent.id}}</p>
                                <p class="mb-1"><strong>Stream: </strong>{{savedStudent.stream}}</p>
                                <p class="mb-1"><strong>Name: </strong>{{savedStudent.name}}</p>
                                <p class="mb-1"><strong>Gender: </strong>{{savedStudent.gender}}</p>
                                <p class="mb-1"><strong>Date Of Birth: </strong>{{savedStudent.dob}}</p>
                                <p class="mb-1"><strong>Contact Number: </strong>{{savedStudent.contact}}
                                </p>
                                <p class="font-italic mb-0"><strong>Email: </strong>{{savedStudent.email}}</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <button class="btn btn btn-outline-primary" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample" (click)="fetchAllIssuedBooks()" [disabled]="issuedBooks">
                                Fetch Issued Books
                            </button>
                        </div>

                        <div class="row collapse" id="collapseExample" [ngClass]="{'show': issuedBooks.length}"
                            *ngIf="issuedBooks && issuedBooks.length">
                            <div class="col-md-4">
                                <div class="list-group list-group-numbered" id="list-tab" role="tablist">
                                    <ng-container *ngFor="let issuedBook of issuedBooks; let i = index">
                                        <a class="list-group-item list-group-item-action" [ngClass]="{'active': i==0}"
                                            data-bs-toggle="list" href="#{{savedStudent.gender}}-{{issuedBook.id}}"
                                            role="tab">{{issuedBook.book.title}}</a>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-md-8" style="background-color: #f8f9fa;">
                                <div class="tab-content p-4" id="nav-tabContent">
                                    <ng-container *ngFor="let issuedBook of issuedBooks; let i = index">
                                        <div class="tab-pane fade" id="{{savedStudent.gender}}-{{issuedBook.id}}"
                                            role="tabpanel" [ngClass]="{'show active': i==0}">
                                            <p class="mb-1"><strong>Issue Id: </strong>{{issuedBook.id}}</p>
                                            <p class="mb-1"><strong>Book Category:
                                                </strong>{{issuedBook.book.category.categoryName}}</p>
                                            <p class="mb-1"><strong>Book Name: </strong>{{issuedBook.book.title}}</p>
                                            <p class="mb-1"><strong>Book Author: </strong>{{issuedBook.book.author}}</p>
                                            <p class="mb-1"><strong>Issue Date: </strong>{{issuedBook.issueDate}}</p>
                                            <p class="mb-1"><strong>Expiring Date: </strong>{{issuedBook.expiringDate}}
                                            </p>
                                            <p class="mb-1"><strong>Fine: </strong>{{issuedBook.fine}}</p>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>